OPENAI_API_KEY=sk-18ecad9ce2b54ff88cc56e8ebe7e2797
OPENAI_BASE_URL=https://api.deepseek.com
OPENAI_MODEL=deepseek-v4-flash 
TAVILY_API_KEY=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

# SQLite
DATABASE_URL="file:./dev.db"
